#binarta-clerk-menu-wrapper {
    margin-bottom: 35px;
    display: block !important;
}

#binarta-clerk-menu {
    width: 100%;
    height: 35px;
    position: fixed;
    top: 0;
    background:
        radial-gradient(black 15%, transparent 16%) 0 0,
        radial-gradient(black 15%, transparent 16%) 8px 8px,
        radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 0 1px,
        radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 8px 9px;
    background-color: rgba(59,58,61,.9);
    background-size:14px 14px;
    border-bottom: 1px solid #3b3a3d;
    box-shadow: 0 0 5px #3b3a3d;
    z-index: 1035;
}

#binarta-clerk-menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

#binarta-clerk-menu ul li {
    border-left: 1px solid #222529;
}

#binarta-clerk-menu a,
#binarta-clerk-menu button {
    height: 35px;
    line-height: 35px;
    display: block;
    padding: 0 20px;
    font-size: 14px;
    text-decoration: none;
    color: #fdfdfd;
    outline: none;
    background-color: #3b3a3d;
    border-left: 1px solid #57595b;
    border-top: 1px solid #57595b;
    border-right: 1px solid #222529;
    border-bottom: 1px solid #222529;
    -webkit-transition:background .2s ease, border-color .2s ease;
    -moz-transition:background .2s ease, border-color .2s ease;
    -o-transition:background .2s ease, border-color .2s ease;
    transition:background .2s ease, border-color .2s ease;
    -webkit-font-smoothing: inherit;
}

#binarta-clerk-menu a:hover,
#binarta-clerk-menu button:hover {
    background-color: #2a292b;
    border-left:1px solid #4d4e50;
    border-top:1px solid #4d4e50;
    border-right:1px solid #17191c;
    border-bottom:1px solid #17191c;
}

#binarta-clerk-menu a.active,
#binarta-clerk-menu button.active {
    background-color: #51a351;
    border-left-color: #96d596;
    border-top-color: #96d596;
    border-right-color:#377537;
    border-bottom-color:#377537;
    text-shadow: #fff 0 0 2px;
    box-shadow: 0 1px 1px #377537;
}

#binarta-clerk-menu button[disabled] {
    color: #808080;
}

#binarta-clerk-menu a>i {
    margin-right: 3px;
}

#binarta-clerk-menu .dropdown-menu {
    background:
        radial-gradient(black 15%, transparent 16%) 0 0,
        radial-gradient(black 15%, transparent 16%) 8px 8px,
        radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 0 1px,
        radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 8px 9px;
    background-color: rgba(59,58,61,.9);
    border: 1px solid #3b3a3d;
    box-shadow: 0 0 5px #3b3a3d;
    padding: 5px 0;
}

#binarta-clerk-menu .dropdown-menu>li {
    border-top: 1px solid #222529;
}

#binarta-clerk-menu .dropdown-menu>li>a {
    font-size: 12px;
}

#binarta-clerk-menu .dropdown-menu>li>a:hover,
#binarta-clerk-menu .dropdown-menu>li>a:focus {
    background-color: #2a292b;
    background-image: none;
}