/** Fix for fullscreen mode of tinyMCE **/
body.mce-fullscreen #binarta-clerk-menu {
  top: -60px;
}
body.mce-fullscreen #binarta-clerk-menu .dropdown-menu {
  top: 0;
  bottom: 0;
  max-height: inherit;
}
#mce-modal-block {
  z-index: 1040 !important;
}
#binarta-clerk-menu-top-fix {
  height: 60px;
}
#binarta-clerk-menu-wrapper {
  display: block !important;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1035;
}
body.binarta-clerk-menu-fullscreen {
  background: rgba(0, 0, 0, 0.7);
  transition: background 200ms ease;
}
body.binarta-clerk-menu-fullscreen #binarta-clerk-menu .dropdown-menu {
  top: 0;
  left: 0;
  right: 0;
  margin: 0;
  padding-top: 60px;
  width: 100%;
  max-height: 100%;
}
#binarta-clerk-menu {
  position: absolute;
  left: 0;
  right: 0;
  font-size: 0;
  min-width: 320px;
  height: 60px;
  background-color: #d6dadb;
  background-size: 14px 14px;
  border-bottom: 4px solid #c0c0c0;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  box-sizing: border-box;
}
#binarta-clerk-menu .btn-primary {
  color: #ffffff;
  background: #00afd0;
  border-color: #009ab7;
}
#binarta-clerk-menu .btn-default {
  color: #222222;
  background: #d6dadb;
  border-color: #bbc1c3;
}
#binarta-clerk-menu .btn-success {
  color: #ffffff;
  background: #179f97;
  border-color: #148982;
}
#binarta-clerk-menu .binarta-clerk-menu-left {
  float: left;
}
#binarta-clerk-menu .binarta-clerk-menu-brand-small {
  display: block;
}
#binarta-clerk-menu .binarta-clerk-menu-brand-normal {
  display: none;
}
#binarta-clerk-menu .visible-xs {
  display: block;
}
#binarta-clerk-menu .hidden-xs {
  display: none;
}
#binarta-clerk-menu .binarta-clerk-menu-buttons {
  float: right;
}
#binarta-clerk-menu .btn-clerk-menu {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  height: 56px;
  padding-left: 8px;
  padding-right: 8px;
  margin: 0;
  font-size: 16px;
  line-height: 1.4;
  text-decoration: none;
  text-shadow: 0 1px 0 #e6e6e6;
  color: #222222;
  outline: none;
  background: none;
  border: none;
  transition: background .1s ease;
  box-sizing: border-box;
  border-radius: 0;
}
#binarta-clerk-menu .btn-clerk-menu i {
  font-size: 24px;
  line-height: 24px;
}
#binarta-clerk-menu .btn-clerk-menu[disabled] {
  pointer-events: none;
  cursor: default;
}
#binarta-clerk-menu .clerk-menu-item {
  display: inline-block;
}
#binarta-clerk-menu .btn-clerk-menu.active {
  background-color: #00afd0;
  color: #ffffff;
  text-shadow: 0 1px 1px #222222;
}
#binarta-clerk-menu .btn-clerk-menu.active i {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-name: swing;
  animation-name: swing;
}
#binarta-clerk-menu .open .dropdown-menu {
  top: 60px;
  display: block;
}
#binarta-clerk-menu .open .dropdown-menu li a {
  padding: 15px;
  color: #222222;
}
#binarta-clerk-menu .open .dropdown-menu li a:hover {
  background: #00afd0;
  color: #ffffff;
}
#binarta-clerk-menu .dropdown-menu {
  background: #d6dadb;
  width: 100%;
  position: fixed;
  display: none;
  font-size: 14px;
  margin: 0;
  padding: 0;
  border: none;
  border-bottom: 4px solid #c0c0c0;
  border-radius: 0;
  z-index: -1;
  overflow: auto;
}
#binarta-clerk-menu .dropdown-menu .dropdown-menu-inner {
  padding: 20px;
}
#binarta-clerk-menu .dropdown-menu form {
  margin-bottom: 15px;
}
#binarta-clerk-menu .dropdown-menu form .form-group {
  margin: 0 0 20px 0;
}
#binarta-clerk-menu .dropdown-menu form .form-group label {
  margin: 0 0 5px 0;
  font-size: small;
  font-weight: 600;
}
#binarta-clerk-menu .dropdown-menu textarea,
#binarta-clerk-menu .dropdown-menu input[type="text"] {
  width: 100%;
  height: auto;
  background: #ffffff;
  border: none;
  outline: none;
  padding: 10px;
  resize: none;
  border-radius: 3px;
  box-sizing: border-box;
  box-shadow: inset 0 0 1px 3px #f3f3f3;
}
#binarta-clerk-menu .dropdown-menu .mce-tinymce {
  border: 1px solid #c0c0c0;
}
#binarta-clerk-menu .dropdown-menu .input-group .form-control:last-child {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
#binarta-clerk-menu .dropdown-menu .input-group-addon {
  padding: 10px;
  border: none;
  outline: none;
  box-shadow: inset 0 0 1px 3px #f3f3f3;
  background: #f3f3f3;
}
#binarta-clerk-menu .dropdown-menu .icons-list {
  max-height: 350px;
  overflow-y: scroll;
  background: #ffffff;
  border-radius: 3px;
  box-shadow: inset 0 0 1px 3px #f3f3f3;
  padding: 10px;
}
#binarta-clerk-menu .dropdown-menu .icons-list button {
  background: none;
  border: none;
  font-size: 25px;
  padding: 6px;
}
#binarta-clerk-menu .dropdown-menu .icons-list button:hover,
#binarta-clerk-menu .dropdown-menu .icons-list button.active {
  background-color: #00afd0;
  border-radius: 3px;
  color: #ffffff;
}
#binarta-clerk-menu .dropdown-menu .clerk-menu-contact-thank-you-message {
  position: absolute;
  width: 100px;
  right: 50px;
  top: 36px;
  color: #009ab7;
}
#binarta-clerk-menu .dropdown-menu .dropdown-menu-buttons {
  text-align: right;
}
#binarta-clerk-menu .dropdown-menu .dropdown-menu-buttons button {
  margin-left: 10px;
}
#binarta-clerk-menu .dropdown-backdrop {
  display: none;
}
@media (max-width: 767px) {
  #binarta-clerk-menu .binarta-clerk-menu-brand img {
    padding: 12px 12px 14px 12px;
  }
  #binarta-clerk-menu .open .account-menu li {
    border-bottom: 1px solid #c0c0c0;
  }
  #binarta-clerk-menu .open .account-menu li:last-child {
    border-bottom: none;
  }
  #binarta-clerk-menu .btn-clerk-menu {
    padding: 10px 10px 22px 10px;
  }
  #binarta-clerk-menu .btn-clerk-menu span {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    font-size: 10px;
  }
  #binarta-clerk-menu .btn-clerk-menu-edit,
  #binarta-clerk-menu .btn-clerk-menu-publish {
    border: 2px solid #00afd0;
  }
  #binarta-clerk-menu .btn-clerk-menu-edit span,
  #binarta-clerk-menu .btn-clerk-menu-publish span {
    width: 100%;
    background-color: #00afd0;
    color: #ffffff;
    text-shadow: 0 1px 1px #222222;
  }
  #binarta-clerk-menu .btn-clerk-menu-edit.active,
  #binarta-clerk-menu .btn-clerk-menu-publish.active,
  #binarta-clerk-menu .btn-clerk-menu-edit:hover,
  #binarta-clerk-menu .btn-clerk-menu-publish:hover {
    border: 2px solid #00afd0;
  }
  #binarta-clerk-menu .btn-clerk-menu-edit.active span,
  #binarta-clerk-menu .btn-clerk-menu-publish.active span,
  #binarta-clerk-menu .btn-clerk-menu-edit:hover span,
  #binarta-clerk-menu .btn-clerk-menu-publish:hover span {
    background-color: #00afd0;
  }
  #binarta-clerk-menu .btn-clerk-menu-publish {
    padding-top: 3px;
    padding-left: 15px;
    padding-right: 15px;
  }
  #binarta-clerk-menu .dropdown-menu {
    max-height: 80%;
  }
}
@media (min-width: 768px) {
  /** Fix for fullscreen mode of tinyMCE **/
  .mce-fullscreen #binarta-clerk-menu {
    top: -40px;
  }
  body.binarta-clerk-menu-fullscreen #binarta-clerk-menu .dropdown-menu {
    padding-top: 40px;
  }
  #binarta-clerk-menu-top-fix {
    height: 40px;
  }
  #binarta-clerk-menu {
    height: 40px;
  }
  #binarta-clerk-menu .binarta-clerk-menu-brand img {
    padding: 3px 15px;
  }
  #binarta-clerk-menu .binarta-clerk-menu-brand-small {
    display: none;
  }
  #binarta-clerk-menu .binarta-clerk-menu-brand-normal {
    display: block;
  }
  #binarta-clerk-menu .visible-xs {
    display: none;
  }
  #binarta-clerk-menu .hidden-xs {
    display: block;
  }
  #binarta-clerk-menu .clerk-menu-item {
    position: relative;
  }
  #binarta-clerk-menu .btn-clerk-menu {
    height: 36px;
    padding: 11px 12px 11px 38px;
    font-size: 14px;
    line-height: 14px;
    font-weight: 100;
  }
  #binarta-clerk-menu .btn-clerk-menu > * {
    vertical-align: middle;
  }
  #binarta-clerk-menu .btn-clerk-menu i {
    position: absolute;
    left: 12px;
    top: 0;
    padding: 8px 0;
    font-size: 20px;
    line-height: 20px;
    width: 26px;
  }
  #binarta-clerk-menu .btn-clerk-menu span {
    padding-left: 3px;
  }
  #binarta-clerk-menu .btn-clerk-menu:hover:enabled {
    background-color: #00afd0;
    color: #ffffff;
    text-shadow: 0 1px 1px #222222;
  }
  #binarta-clerk-menu .btn-clerk-menu-edit,
  #binarta-clerk-menu .btn-clerk-menu-publish {
    font-weight: bold;
    position: relative;
    text-decoration: none;
    margin: 0 auto;
    border: solid 1px #adb5b7;
    background: #d6dadb;
    text-align: center;
    top: -3px;
    transition: all 0.1s;
    box-shadow: 0 3px 0 #adb5b7;
  }
  #binarta-clerk-menu .btn-clerk-menu-edit:hover,
  #binarta-clerk-menu .btn-clerk-menu-publish:hover {
    box-shadow: 0 3px 0 #006f84;
  }
  #binarta-clerk-menu .btn-clerk-menu-edit.active,
  #binarta-clerk-menu .btn-clerk-menu-publish.active {
    box-shadow: inset 0 0 0 #00849d;
    top: 0;
  }
  #binarta-clerk-menu .btn-clerk-menu-publish img {
    position: absolute;
    left: 0;
    top: 0;
    padding: 2px 6px 4px 10px;
  }
  #binarta-clerk-menu .btn-clerk-menu-publish:active {
    box-shadow: inset 0 0 0 #00849d;
    top: 0;
  }
  #binarta-clerk-menu .open .dropdown-menu {
    top: 36px;
    -webkit-animation-name: fadeInDown;
    animation-name: fadeInDown;
    -webkit-animation-duration: 0.1s;
    animation-duration: 0.1s;
  }
  #binarta-clerk-menu .dropdown-menu {
    left: 50%;
    margin-left: -375px;
    width: 750px;
    border-left: 4px solid #c0c0c0;
    border-right: 4px solid #c0c0c0;
  }
  #binarta-clerk-menu .dropdown-menu.help-menu {
    width: 350px;
  }
  #binarta-clerk-menu .dropdown-menu.account-menu {
    width: 210px;
    left: inherit;
    right: -4px;
  }
  #binarta-clerk-menu .dropdown-menu.admin-menu {
    left: inherit;
    right: -4px;
  }
  #binarta-clerk-menu .dropdown-menu .clerk-menu-contact-thank-you-message {
    right: 60px;
    top: 45px;
  }
}
@media (min-width: 992px) {
  #binarta-clerk-menu .btn-clerk-menu {
    padding: 11px 16px 11px 42px;
  }
}
