@import 'variables';

body {
  &.mobile, &.tablet {
    #bin-menu {
      .bin-menu-item {
        &.open {
          .dropdown-menu {
            & > li {
              & > a {
                &:hover {
                  background-color: inherit;
                }
              }
            }
          }
        }
      }
    }
  }

  &:not(.mobile):not(.tablet) {
    #bin-menu {
      .bin-menu-item {
        &.open {
          .dropdown-menu {
            li {
              a {
                &:hover {
                  background: @cm-blue;
                  color: @cm-white;
                }
              }
            }
          }
        }
      }

      @media (min-width: 768px) {
        @cm-total-height: 40px;

        .bin-menu-item {
          &.open {
            .dropdown-menu {
              top: @cm-total-height;
              border-left: @cm-border-bottom-height solid @cm-border-color;
              border-right: @cm-border-bottom-height solid @cm-border-color;
            }
          }
        }
      }
    }
  }
}

#bin-menu {
  .bin-menu-item {
    &.open {
      .dropdown-menu {
        background: @cm-background-color;
        width: 100%;
        position: fixed;
        top: @cm-total-height;
        font-size: 14px;
        margin: 0;
        padding: 0;
        border-bottom: @cm-border-bottom-height solid @cm-border-color;
        border-top: none;
        border-left: none;
        border-right: none;
        border-radius: 0;
        overflow: auto;

        li {
          a {
            padding: 15px;
            color: @cm-black;
          }
        }
      }
    }
  }

  @media (min-width: 768px) {
    @cm-total-height: 40px;

    .bin-menu-item {
      &.open {
        .dropdown-menu {
          top: @cm-total-height;
        }
      }
    }
  }
}