@import "variables";

#bin-menu {
  hr {
    border-color: @cm-shadow-color;
  }

  textarea,
  input {
    width: 100%;
    height: auto;
    background: @cm-white;
    border: none;
    outline: none;
    padding: 10px;
    box-sizing: border-box;
  }

  textarea {
    resize: none;
  }

  .mce-tinymce {
    border: 1px solid @cm-border-color;
  }

  .input-group .form-control:last-child {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }

  .input-group-addon {
    padding: 10px;
    border: none;
    outline: none;
    background: lighten(@cm-border-color, 20%);
  }

  .input-group {
    display: table;
    border-collapse: separate;

    .form-control {
      &:first-child {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
      }
    }

    .input-group-btn {
      display: table-cell;
      vertical-align: middle;
      width: 1%;

      &:last-child > .btn {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        margin-left: -1px;
      }
    }

    input,
    button {
      display: table-cell;
      height: 40px;
      margin: 0;
    }
  }

  .help-block {
    margin-top: 10px;
  }

  form {
    margin-bottom: 0;

    .form-group {
      margin: 0 0 20px 0;

      label {
        margin: 0 0 5px 0;
        font-size: small;
        font-weight: 600;
      }
    }
  }
}