@import "variables";

body {
  &:not(.mobile) {
    #bin-menu {
      .icons-list {
        max-height: 350px;
        overflow-y: scroll;
      }
    }
  }

  &:not(.mobile):not(.tablet) {
    #bin-menu {
      .icons-list {
        button {
          &:hover {
            background-color: @cm-blue;
            border-radius: 3px;
            color: @cm-white;
          }
        }
      }
    }
  }
}

#bin-menu {
  .icons-list {
    background: @cm-white;
    border-radius: 3px;
    box-shadow: inset 0 0 1px 3px lighten(@cm-border-color, 20%);
    padding: 10px;

    button {
      background: none;
      border: none;
      font-size: 25px;
      padding: 6px;
      &.active {
        background-color: @cm-blue;
        border-radius: 3px;
        color: @cm-white;
      }
    }
  }
}