@import "variables";

body.bin-menu {
  margin-top: @cm-total-height-xs;

  &.mobile {
    &.bin-menu-opened {
      #bin-menu {
        top: -@cm-total-height-xs;
        box-shadow: none;
      }
    }
  }

  &.mobile, &.tablet {
    &.bin-menu-opened {
      > *:not(#bin-menu):not(.mce-container) {
        display: none;
      }
    }
  }

  &:not(.mobile), &.tablet {
    @media (min-width: 768px) {
      margin-top: @cm-total-height-sm;

      #bin-menu {
        height: @cm-total-height-sm;
      }
    }
  }
}

#bin-menu {
  position: fixed;
  top: 0;
  border-bottom: @cm-border-bottom-height solid @cm-border-color;
  box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
  width: 100%;
  min-width: 320px;
  height: @cm-total-height-xs;
  font-size: 0;
  background-color: @cm-background-color;
  background-size: 14px 14px;
  box-sizing: border-box;
  z-index: 1035;

  & * {
    box-sizing: border-box;
  }

  .bin-menu-left {
    float: left;
  }

  .bin-menu-actions {
    float: right;
  }

  .bin-menu-item {
    display: inline-block;
  }
}