#binarta-clerk-menu {
  .visible-xs {
    display: block;
  }
  .hidden-xs {
    display: none;
  }

  @media (min-width: 768px) {
    .visible-xs {
      display: none;
    }
    .hidden-xs {
      display: block;
    }
  }
}