@cm-background-color: #d6dadb;
@cm-border-color: #c0c0c0;
@cm-shadow-color: #c2c3c2;
@cm-blue: @bin-primary;
@cm-green: @bin-success;
@cm-red: @bin-danger;
@cm-black: #222222;
@cm-white: #ffffff;

@cm-input-background-gray: #F9F9F9;
@cm-input-background-gray-dark: #D3D3D3;
@cm-input-border-gray: #D3D3D3;

@cm-border-bottom-height: 4px;
@cm-total-height: 60px;
@cm-total-height-xs: @cm-total-height;
@cm-total-height-sm: 40px;